<?xml version="1.0"?>

<model>
  <name>urc_aruco_2</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Jeremie Bourque</name>
    <email>jeremie.bourque@usherbrooke.ca</email>
  </author>

  <description>
    3 sided aruco ID 2 marker for the URC 2022 competition
  </description>
</model>